@use "variables.scss";

.services-title-holder {
  @include variables.title-holder;
  background-position: center 100%;

  .services-title {
    @include variables.title-format;

    @include variables.xs {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.about-title-holder {
  @include variables.title-holder;
  background-position: center 10%;

  .about-title {
    @include variables.title-format;
    background: #b8ccccc8;

    @include variables.xs {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.guide-title-holder {
  background-position: center 10%;
  @include variables.title-holder;

  .guide-title {
    @include variables.title-format;

    @include variables.xs {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.guide-intro {
  @include variables.intro-box;
  font-family: variables.$sub-font;
  font-size: 1.4rem;
  color: variables.$very-dark-blue;

  @include variables.xs {
    font-size: 1.2rem;
    text-align: center;
  }

  p {
    font-family: variables.$body-font;
    font-size: 1.4rem;
    color: variables.$very-dark-blue;

    @include variables.xs {
      font-size: 1rem;
    }
  }
}

.about-expectations {
  @include variables.intro-box;

  p {
    font-family: variables.$sub-font;
    font-size: 1.5rem;
    color: variables.$very-dark-blue;

    @include variables.xs {
      font-size: 1.2rem;
    }
  }
}

.session-format {
  @include variables.intro-box;
  margin: -0.1rem;
  width: 50%;

  @include variables.sm {
    width: 70%;
  }

  @include variables.xs {
    width: 80%;
  }

  @include variables.lg {
    width: 40%;
  }

  @include variables.xl {
    width: 40%;
  }

  h3 {
    margin-top: -0.1rem;
    margin-bottom: -0.1rem;
    font-family: variables.$sub-font;
    font-size: 1.5rem;
    color: variables.$very-dark-blue;

    @include variables.xs {
      font-size: 1.3rem;
    }
  }

  p {
    text-align: center;
    font-family: variables.$body-font;
    color: variables.$very-dark-blue;
  }

  ul {
    margin-top: -0.4rem;
    margin-bottom: -0.2rem;
    font-family: variables.$body-font;
    color: variables.$very-dark-blue;

    @include variables.xs {
      font-size: 1rem;
    }
  }
}

.help-list {
  @include variables.intro-box;

  h3 {
    font-family: variables.$sub-font;
    font-size: 1.5rem;
    color: variables.$very-dark-blue;

    @include variables.xs {
      font-size: 1.3rem;
    }
  }

  ul {
    margin-top: -0.2rem;
    font-family: variables.$body-font;
    color: variables.$very-dark-blue;
    columns: 2;

    @include variables.xs {
      columns: 1;
      font-size: 1rem;
    }
  }
}

.section {
  display: flex;
  flex-direction: row;
  width: 90%;

  @include variables.xs {
    flex-direction: column;
    @include variables.centered;
  }

  .section-label {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: variables.$light-teal;
    background-image: url("../../../public/images/brush-stroke.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top -3rem right 0;
    border-style: dotted;
    border-color: variables.$dark-teal;
    border-radius: 10px;

    .section-image-holder {
      display: flex;
      @include variables.centered;
      margin-bottom: 1rem;

      .section-image {
        width: 70%;
        border-radius: 50%;
        box-shadow: 4px 4px 6px variables.$dark-teal;
      }
    }

    @include variables.xs {
      margin: 0;
      width: 100%;
      background-position: center right 0;
    }

    @include variables.sm {
      background-position: top -1rem right 0;
    }

    @include variables.lg {
      background-position: top -4.2rem right 0;
    }

    @include variables.xl {
      background-position: top -9rem right 0;
    }

    .label-title {
      font-family: variables.$sub-font;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;

      @include variables.xs {
        font-size: 1.1rem;
      }

      @include variables.sm {
        font-size: 1.3rem;
      }

      @include variables.xl {
        font-size: 2rem;
      }
    }

    .label-subtitle {
      font-family: variables.$sub-font;
      font-size: 1.3rem;
      font-style: italic;
      text-align: center;
      margin-top: -1.3rem;

      @include variables.xs {
        margin-top: -1rem;
        font-size: 1rem;
      }

      @include variables.sm {
        font-size: 1rem;
      }

      @include variables.xl {
        font-size: 1.5rem;
      }
    }
  }

  .section-content {
    width: 70%;
    height: auto;
    margin: 0.5rem;
    background-color: #a2cdf22e;
    border-style: dotted;
    border-color: variables.$dark-teal;
    border-radius: 10px;
    padding: 1rem;
    font-family: variables.$body-font;

    @include variables.xs {
      font-size: 1rem;
      margin: 0;
      margin-top: 1rem;
      width: 90%;
    }

    @include variables.sm {
      font-size: 1rem;
    }

    ul {
      column-count: 3;

      @include variables.xs {
        column-count: 1;
      }

      @include variables.sm {
        column-count: 2;
      }
    }

    .single-column {
      column-count: 1;
    }

    span {
      text-decoration: underline;
    }

    .bolded-text {
      font-weight: bold;
    }
  }
}

.consult-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 1rem;
  background-color: variables.$light-blue;
  border-style: solid;
  border-width: 0.08rem;
  border-color: variables.$dark-blue;
  border-radius: 10px;

  @include variables.xs {
    width: 80%;
  }

  .consult-text {
    font-family: variables.$sub-font;
    font-size: 1.3rem;
    color: variables.$very-dark-blue;

    @include variables.xs {
      text-align: center;
    }
  }

  .consult-btn {
    @include variables.blue-btn;
  }
}
