@import "variables.scss";

main {
  .about-title-holder {
    height: 10rem;
    width: 100%;
    background-image: url("../images/Waterfall.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .about-title {
      border-style: solid;
      border-color: $dark-teal;
      border-radius: 10px;
      padding: 1rem;
      background: #b8ccccab;
      font-size: 2.8rem;
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      color: $dark-teal;
      font-family: $header-font;
    }
  }

  .about-expectations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1rem;
    background-color: $light-blue;
    border-style: solid;
    border-width: 0.08rem;
    border-color: $dark-blue;
    border-radius: 10px;

    p {
      font-family: $sub-font;
      font-size: 1.5rem;
      color: $very-dark-blue;
    }

  }

}