@import "variables.scss";

main {
  .contact-title-holder {
    height: 10rem;
    width: 100%;
    background-image: url("../images/Waterfall.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .contact-title {
      border-style: solid;
      border-color: $dark-teal;
      border-radius: 10px;
      padding: 1rem;
      background: #b8ccccab;
      font-size: 2.8rem;
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      color: $dark-teal;
      font-family: $header-font;
    }
  }

  .covid-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 1rem;
    border-style: solid;
    border-width: 0.08rem;
    border-color: $dark-blue;
    border-radius: 10px;
    background-color: $light-blue;

    h3 {
      font-family: $sub-font;
      font-size: 1.5rem;
      color: $very-dark-blue;
      text-align: center;
    }
  }

  .contact-body {
    display: flex;
    flex-direction: row;
    width: 90%;

    .contact-info {
      width: 45%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-style: double;
      border-left: none;
      border-top: none; 
      border-bottom: none;
      border-width: 0.5rem;
      border-color: $teal;

      p {
        font-family: $body-font;
        text-align: center;
      }

      a {
        text-decoration: underline;
        text-align: center;
        font-family: $body-font;
        font-size: 1.1rem;
        color: $dark-blue;
      }

      .logo {
        width: 70%;
        border-radius: 50%;
        box-shadow: 5px 5px 10px $teal;
        margin: 1rem;
      }
    }

    .contact-form {
      width: 45%;
      padding: 1rem;
      font-family: $body-font;

      .form-identifier {
        text-align: center;
        font-size: 0.9rem;
        .name {
          text-decoration: underline;
        }
      }

      .form-submit-btn {
        width: auto;
        padding: 0.5rem;
        border-color: $dark-green;
        border-width: 0.1rem;
        border-radius: 8px;
        color: $dark-green;
        font-family: $sub-font;
        font-size: 1.2rem;
  
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 3px $dark-green;
        }
      }
    }
  }
}