@import "variables.scss";

main {
  padding-top: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h1 {
    font-family: $header-font;
    color: $dark-green;
    font-weight: 600;
  }

  h2, h3, h4, h5 {
    font-family: $sub-font;
    color: $dark-blue;
  }

  iframe {
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    width: 10rem;
    height: 4rem;
  }

}

.quote-banner {
  height: 20rem;
  width: 100%;
  background-image: url("../images/Waterfall.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .quotation-text {
    border-style: solid;
    border-color: $dark-green;
    border-radius: 10px;
    padding: 1rem;
    background: #b8ccccca;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .quotation {
      p {
        font-family: $header-font;
        // letter-spacing: 0.05rem;
        line-height: 1.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: $dark-teal;        
      }

    }

    .name-holder {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: -1.8rem;

      p {
        font-family: $header-font;
        font-size: 1.1rem;
        font-weight: 300;
        color: $dark-teal;
      }
    }

    .talk-btn {
      border-color: $light-teal;
      border-width: 0.1rem;
      border-radius: 8px;
      padding: 0.3rem;
      background-color: $dark-teal;
      color: $light-teal;
      font-family: $sub-font;
      margin-right: 1rem;
      margin-bottom: 0.6rem;

      &:hover {
        cursor: pointer;
        border-color: $teal;
        box-shadow: 2px 2px 3px $dark-teal;
      }
    }
  }
}

.about-me {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  padding: 1rem;
  background-color: #a2cdf27e;
  border-style: solid;
  border-width: 0.08rem;
  border-color: $very-dark-blue;
  border-radius: 10px;

  .about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 2rem;

    .about-me-title {
      font-size: 2rem;
      color: $very-dark-blue;
    }

    .about-me-name {
      margin-top: -1rem;
      font-size: 1.5rem;
    }

    .about-me-qualifications {
      margin-top: -1rem;
      text-align: center;
      font-size: 1rem;
      font-style: italic;
    }

    .about-me-approach {
      text-align: center;
      font-family: $body-font;
      line-height: 1.5rem;
    }

  }

  img {
    width: 35%;
    border-style: solid;
    border-color: white;
    border-width: 1rem;
    border-radius: 10px;
    aspect-ratio: auto;
  }
}

.homepage-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $light-teal;
  border-style: solid;
  border-width: 0.08rem;
  border-color: $dark-teal;
  border-radius: 10px;

  .homepage-contact-text {
    font-family: $body-font;
    font-size: 1.3rem;
    color: $dark-teal;
  }

  .homepage-contact-btn {
    width: auto;
    background-color: $dark-teal;
    font-family: $sub-font;
    font-size: 1.2rem;
    color: $light-teal;
    padding: 0.5rem;
    border-style: groove;
    border-color: $teal;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      box-shadow: 3px 3px 5px $teal;
    }
  }
}

.psychology-today-verification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  p {
    font-family: $body-font;
    font-size: 0.7rem;
  }
}