@import "variables.scss";

h1 {
  font-family: $header-font;
  color: $dark-green;
  font-weight: 700;
}

h3, h4, h5 {
  font-family: $sub-font;
  color: $dark-blue;
}

p {
  font-family: $body-font;
}