@import "variables.scss";

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-image: url("../images/ModalBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 0%;
  border: 2px solid $dark-teal;
  box-shadow: 1px 1px 5px $teal;
  padding: 1rem;
  padding-left: 40%;
  text-align: right;

  .covid-modal-title {
    font-size: 1.8rem;
    font-family: $sub-font;
    color: $med-blue;
  }

  .covid-modal-subtitle {
    margin-top: -1rem;
    font-family: $sub-font;
    font-size: 1rem;
    color: $dark-blue;
  }

  .covid-modal-content {
    text-align: right;
    font-family: $body-font;
    line-height: 1.1rem;
    color: $very-dark-blue;
  }

  .btn-holder {
    display: flex;
    justify-content: flex-end;

    .close-btn {
      border-color: $dark-blue;
      border-width: 0.1rem;
      border-radius: 8px;
      padding: 0.5rem;
      background-color: $very-dark-blue;
      color: $light-blue;
      font-family: $sub-font;
      font-size: 1.2rem;

      &:hover {
        cursor: pointer;
        border-color: $very-dark-blue;
        box-shadow: 2px 2px 5px $very-dark-blue;
      }
    }
  }
}