// fonts
$body-font: 'Georgia', serif;
$sub-font: 'EB Garamond', serif;
$header-font: 'Playfair Display', serif;

// colours
$light-blue: #A2CDF2;
$dark-blue: #0367A6;
$med-blue: #4BB2F2;
$teal: #027373;
$dark-green: #324001;