// fonts
$body-font: 'Georgia', serif;
$sub-font: 'EB Garamond', serif;
$header-font: 'Playfair Display', serif;

// colours
$light-blue: #A2CDF2;
$dark-blue: #0367A6;
$very-dark-blue: #023a5d;
$med-blue: #4BB2F2;
$dark-teal: #084848;
$teal: #027373;
$light-teal: #b8cccc;
$dark-green: #324001;
$light-green: #b7bf98;

//mixins
@mixin glassbg {
  backdrop-filter: blur(25px) saturate(144%);
  -webkit-backdrop-filter: blur(25px) saturate(144%);
  background-color: rgba(207, 215, 207, 0.52);
}