@import "variables.scss";

.services-title-holder {
  @include title-holder;
  background-position: center 100%;

  .services-title {
    @include title-format;

    @include xs {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.about-title-holder {
  @include title-holder;
  background-position: center 10%;

  .about-title {
    @include title-format;

    @include xs {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.about-expectations {
  @include intro-box;
  
  p {
    font-family: $sub-font;
    font-size: 1.5rem;
    color: $very-dark-blue;

    @include xs {
      font-size: 1.2rem;
    }
  }
}

.help-list {
  @include intro-box;

  h3 {
    font-family: $sub-font;
    font-size: 1.5rem;
    color: $very-dark-blue;

    @include xs {
      font-size: 1.3rem;
    }
  }

  ul {
    margin-top: -0.2rem;
    font-family: $body-font;
    color: $very-dark-blue;
    columns: 2;

    @include xs {
      columns: 1;
      font-size: 0.9rem;
    }
  }
}

.section {
  display: flex;
  flex-direction: row;
  width: 90%;

  .section-label {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0.5rem;
    background-color: $light-teal;
    border-style: dotted;
    border-color: $dark-teal;
    border-radius: 10px;

    .label-title {
      font-family: $sub-font;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;

      @include xs {
        font-size: 1rem;
      }

      @include sm {
        font-size: 1.3rem;
      }
    }

    .label-subtitle {
      font-family: $sub-font;
      font-size: 1.3rem;
      font-style: italic;
      text-align: center;
      margin-top: -1.3rem;

      @include xs {
        margin-top: -1rem;
        font-size: 0.9rem;
      }

      @include sm {
        font-size: 1rem;
      }
    }
  }

  .section-content {
    width: 70%;
    height: auto;
    margin: 0.5rem;
    background-color: #a2cdf22e;
    border-style: dotted;
    border-color: $dark-teal;
    border-radius: 10px;
    padding: 1rem;
    font-family: $body-font;

    @include xs {
      font-size: 0.9rem;
    }

    @include sm {
      font-size: 0.9rem;
    }

    ul {
      column-count: 3;

      @include xs {
        column-count: 1;
      }

      @include sm {
        column-count: 2;
      }
    }
  }
}

.consult-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 1rem;
  background-color: $light-blue;
  border-style: solid;
  border-width: 0.08rem;
  border-color: $dark-blue;
  border-radius: 10px;

  .consult-text {
    font-family: $sub-font;
    font-size: 1.3rem;
    color: $very-dark-blue;

    @include xs {
      text-align: center;
    }
  }

  .consult-btn {
    @include blue-btn;
  }
}