@import "variables.scss";

.resources-title-holder {
  @include title-holder;
  background-position: center 45%;

  .resources-title {
    @include title-format;
    background: #b8ccccc8;

    @include xs {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.resource-cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

  .resource-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0.5rem;
    background-color: $light-teal;
    border-style: dotted;
    border-color: $dark-teal;
    border-radius: 10px;

    @include xs {
      width: 80%;
      margin: 0.5rem;
    }

    .card-label {
      font-family: $sub-font;
      font-size: 1.5rem;
      text-align: center;
    }

    .card-img {
      width: 95%;
      margin-top: 2.5%;
      border-radius: 10px;
    }

    .card-content {
      width: 90%;
      height: auto;
      text-align: left;
      line-height: 1.2rem;
      margin-top: -1.5rem;
      padding: 1rem;
      font-family: $body-font;
      font-size: 1rem;
    }
  }
}
